body {
    background-color: #fffff5 !important;
    width: 1300px !important;
    margin: 0 auto !important;
}

.title_box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.title_box .title_left {}

.title_box .title_left .user {
    font-size: 2rem;
    color: #a0a0a0
}

.title_box .title_left .user .title_left_user {
    font-size: 1.8rem;
    color: #2FA4FF;
}

.title_box .title_left .title {
    font-size: 2rem;
    color: #a0a0a0
}

.title_box .title_left .title .title_left_title {
    font-size: 1.8rem;
    color: #2FA4FF;
}

.title_box .title_center {
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 25px;
}

.title_box .title_center img {
    width: 300px;
}

.title_box .title_right {}

.title_box .title_right button {}

.title_box .title_right button:nth-child(1) {}

.title_box .title_right button:nth-child(2) {}

.title_box .title_right button:nth-child(3) {}


#image_box {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 50px;
    padding: 25px 0 25px 40px;
    width: 42%;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 25px;
}

#image_box img {
    margin: 0 23px 20px 0;
    width: 145px;
    height: 145px;
    border-radius: 25px;
    border: 1px solid rgba(200, 200, 200, 0.5);
    padding: 10px;
    background-color: #fff;

}

.content_box {
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 25px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    height: 200px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

#map {
    width: 500px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.map_box {
    /* background-color: beige;
    height: 300px; */
}

.custom_btn {
    height: max-content;
}

.hover_btn:hover {
    background-color: #fffff5 !important;
}

.map_box {}

.map_box .map_content {
    text-align: center;
    font-size: 1.8rem;
}

.comment_box {
    background-color: red;
    height: 300px;
}

.emoticon:hover {
    cursor: pointer;
    background-color: #f1da72
}