body {
    width: 1200px !important;
    background-color: #FFFFF3 !important;
    margin: 0 auto !important;
    scroll-behavior: smooth;
}

header {
    margin-bottom: 100px;
}

.pop_up {
    position: fixed;
    bottom: 20%;
    right: 10px;
    width: 100px;
    height: 100px;
}

.pop_up a {}

.pop_up a:nth-child(1) {}

.pop_up a:nth-child(2) {}

.pop_up a:nth-child(3) {}

.pop_up img {
    width: 75px !important;
    height: 75px !important;
}

.test {
    animation: doongdoong .5s linear infinite alternate both;
    transition: all .3s;
}

@keyframes doongdoong {
    0% {
        bottom: 50%;
    }

    100% {
        bottom: 60%;
    }
}

.fade_in1 {
    animation: fadein 2s;
    /* chrome */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -moz-animation: fadein 2s;
    /* Firefox */
    -o-animation: fadein 2s;
    /* Opera */
}


/* .fade_in2 {
    animation: fadein 2s 1s; */
/* chrome */
/* -webkit-animation: fadein 2s 1s; */
/* Safari and Chrome */
/* -moz-animation: fadein 2s 1s; */
/* Firefox */
/* -o-animation: fadein 2s 1s; */
/* Opera */
/* } */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}