body {
    width: 1200px !important;
    background-color: #FFFFF3 !important;
    margin: 0 auto !important;
    scroll-behavior: smooth;
}

header {
    margin-bottom: 100px;
}

.pop_up {
    position: fixed;
    bottom: 20%;
    right: 10px;
    width: 100px;
    height: 100px;
}

.pop_up a {}

.pop_up a:nth-child(1) {}

.pop_up a:nth-child(2) {}

.pop_up a:nth-child(3) {}

.pop_up img {
    width: 50px !important;
    height: 50px !important;
}

.test {
    animation: doongdoong .5s linear infinite alternate both;
    transition: all .3s;
}

@keyframes doongdoong {
    0% {
        bottom: 50%;
    }

    100% {
        bottom: 60%;
    }
}