.del-check {
    -webkit-appearance: none;
    /*hides the default checkbox*/
}

.del-check:checked {
    background-color: white;
}

.del-check:before {
    content: "✖";
}

.del-check:checked:before {
    content: "↶";
}

.del-check:hover {
    cursor: pointer;
    opacity: 0.8;
}

.save-div {
    transform: translate(80%);
}