<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>관리자/ 이모티콘 상세보기 | DateScape</title>
    <link rel="stylesheet" href="../static/css/common.css">
</head>

<body>
    <header></header>

    <div class="container text-center mt-5" style="text-align:center" id="parents">
        <h1 class="mb-5">이모티콘 상세 보기 / 판매량</h1>
        <h3 id="title">이모티콘제목</h3>
        <form>
            <div id="remove_images"></div>
            <div class="row row-cols-5 row-cols-md-5 justify-content-center mb-3" id="images">
            </div>
            <div id="image_input"></div>
        </form>
    </div>
    <div class="container text-center mt-3">
        <button onclick="location.href='../templates/admin_emoticon_list.html'">관리자 / 이모티콘리스트</button>
        <div>
            <select name="db_status" id="db_status">
                <option value="0">신청 상태</option>
                <option value="1">판매 중</option>
                <option value="2">판매 중단</option>
                <option value="3">삭제 상태</option>
            </select>
            <button id="db_status_button">상태 변경하기</button>
        </div>
    </div>
    <div class="container text-center mt-3">
        <h2 class="mt-5">누적 판매량</h2>
        <table class="container text-center mt-3" style="border-collapse: collapse; border: 1px solid black;">
            <tbody id="amount_div">
                <th>년/월</th>
                <th>가격</th>
                <th>판매량</th>
                <th>월 판매 금액</th>
            </tbody>
        </table>
        <div>
            <br>
            <h3>월별 검색</h3>
            년도<input type="text" id="year">
            월<input type="text" id="month">
            <button id="searchButton">검색</button>
        </div>
    </div>

    <footer></footer>
    <script src="../components/urls.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/admin_emoticon_detail_count.js"></script>
</body>

</html>