<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성 페이지 | DateScape</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="../components/urls.js"></script>
    <script src="../static/js/apitemp.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body style="background-color:#fffff5;">
    <header></header>
    <div>
        <h2 class="fw-bold mb-5" style="text-align:center;">게시글 작성</h2>
        <form class="w-50 m-auto mb-5" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="content" class="form-label" style="color:red;font-weight:700;">*필수입력값</label>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">제목 <em style="color:red;font-weight:700;"> * </em></label>
                <input type="text" class="form-control" id="title" placeholder="필수입력값입니다" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">주소 <em style="color:red;font-weight:700;"> * </em></label>
                <input type="text" class="form-control" id="roadAddress" name="road_address" placeholder="필수입력값입니다"
                    readonly required />
                <div id="map" style="width:100%;height:350px;"></div><!-- e:map -->
                <p><em>지도를 클릭해주세요!</em></p>
                <div id="clickLatlng">

                </div><!-- e:clickLatlng -->
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">평점 <em style="color:red; font-weight:700;"> * </em></label>
                <input type="range" min="0" max="10" step="1" id="score_in" placeholder="필수입력값입니다"
                    aria-describedby="contentHelp" required />
                <input type="number" min="0" max="10" step="1" id="score_out" class="form-control" placeholder="">
                <div id="contentHelp" class="form-text">
                    <p>평점은 0부터 10까지 1단위로 입력가능합니다.<em style="color:red; font-weight:700;"> 숫자 </em>만 입력가능합니다.</p>
                    <!-- <p class="fs-6" style="color:red;font-weight:700;">숫자만 입력 가능합니다.</p> -->
                </div>
            </div>
            <div class="mb-3">
                <label for="tag" class="form-label">태그<em style="color:darkgrey ;"> * Enter : 태그
                        추가</em></label>
                <div class="mb-2">
                    <span style="color: gray; font-size: small;">오늘의 태그</span>
                    <span id="taday-tag" class="weekly-tag"></span>
                    <span style="color: gray; font-size: small; margin-left: 15px;">내일의 태그</span>
                    <span id="tomorrow-tag" class="weekly-tag"></span>
                </div>
                <div for="tag" class="form-control">
                    <div id="tag_ul">
                    </div><!-- e:tag_ul -->
                    <input type="text" class="form-control" id="tags" aria-describedby="tagHelp" />
                </div>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">대표 이미지 <em style="color:red;font-weight:700;">*</em>
                    </em></label>
                <input name="main_image" type="file" class="form-control" id="main_image"
                    aria-describedby="mainImageHelp" accept="image/*" required>
                <div id="mainImageHelp" class="form-text">

                </div><!-- e:tagHelp -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="main-image-preview"></div>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">추가 이미지 <em style="color:darkgrey ;">* 복수선택
                        가능</em></label>
                <input name="images" type="file" class="form-control" id="images" accept="image/*"
                    aria-describedby="imageHelp" multiple>
                <div id="imageHelp" class="form-text">
                </div><!-- e:tagHelp -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="image-preview"></div>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용 <em style="color:red;font-weight:700;"> * </em></label>
                <!-- <input type="text" class="form-control" id="content" rows="3"> -->
                <textarea class="form-control" id="content" rows="4" required></textarea>
            </div>
            <div class="text-end">
                <button type="submit" id="save_db" class="btn btn-primary mt-3">저장</button>
            </div>

        </form>
        <div id="add_h2"></div>
        <div class="row row-cols-1 row-cols-md-3 g-5" id="result"></div>
    </div>
    <footer></footer>
    <script src="../static/js/article_create.js"></script>
    <script src="../static/js/navbar.js"></script>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4562c5b2a0c36251186c55048c3ce7f0&libraries=services"></script>
</body>

</html>