<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리 | DateScape</title>
    <script src="../components/urls.js"></script>
    <script src="../static/js/common.js"></script>
</head>

<div id=6 class="category-detail"></div>
<div id=5 class="category-detail"></div>

<div id=6 class="category-select"></div>
<li>
</li>
<div id=5 class="category-select"></div>
<script src="../static/js/category_detail.js"></script>
<script src="../static/js/category_select.js"></script>