<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/urls.js"></script>
    <script src="../static/js/apitemp.js"></script>
    <title>DateScape | Find_UserID</title>
    
</head>

<body>
    <div class="title">
        <h2>아이디찾기</h2>
    </div>
    <form action="#" method="get" id="find_userid" class="form-floating">
        <div id="fideID">
            <dt>이메일(Email)</dt>
            <dd><input type="email" id="email" placeholder="가입한 이메일" name="user_email" required></dd>
        </div>
        <dd>
        <button type="button" onclick="findID()">아이디찾기</button>
    </form>
</body>

</html>