<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakao API | DateScape</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script src="../components/urls.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
    <table border="1">
        <tr>
            <th>제목</th>
            <td><input type="text" id="title" /></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><input type="text" id="content" /></td>
        </tr>
        <tr>
            <th>이미지</th>
            <td><input type="file" accept="image/*" id="images" multiple /></td>
        </tr>
        <tr>
            <th>score</th>
            <td><input type="number" min="0" max="10" step="0.1" id="score" /></td>
        </tr>
        <tr>
            <th>주소</th>
            <td><input type="text" id="address_kakao_input" id="address" readonly /></td>
            <th>지번주소</th>
            <td><input type="text" id="jibunAddress" id="jibun_address" readonly /></td>
            <th>도로명주소</th>
            <td><input type="text" id="roadAddress" name="road_address" readonly /></td>
            <td><button type="text" id="address_kakao" name="address">주소검색</button></td>
            <td><button type="button" id="save_db">db저장</button></td>
        </tr>
        <tr>
            <th>태그</th>
            <td><input type="text" id="tags" /></td>
            <th>태그 리스트</th>
            <td>
                <ul id="tag_ul">
                </ul>
            </td>
        </tr>
    </table>

    <script src="../static/js/map_search.js"></script>
</body>


</html>