<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 수정 | DateScape</title>
    <script src="../components/urls.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/profile.js"></script>
</head>

<body>
    <div class="new_update_img">
        <div id="image_container"></div>

    </div>

    <form>
        <dt>
            프로필변경
        </dt>
        <input type="text" name="nickname" id="nickname" placeholder="닉네임">
        <input type="file" name="profileimage" id="profileimage" onchange="setThumbnail(event);">
        <a id="pschange" class="nav-link active" aria-current="page" href="/templates/passwordchange.html">비밀번호 변경</a>
        <button type="button" onclick="profileedit()">제출</button>
    </form>

    <a href="#" onclick="win_close()">[닫기]</a>

    <script src="../static/js/apitemp.js"></script>
    <script src="../static/js/profile.js"></script>
</body>

</html>