<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/urls.js"></script>
    <script src="../static/js/iftoken.js"></script>
    <title>RESETPASSWORDEMAIL | DateScape</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="title">
        <h2>비밀번호 재설정</h2>
        <h4>가입하신 이메일로 비밀번호 재설정 링크를 보내드리겠습니다.</h3>
            <h4>이메일을 입력해주세요.</h4>
    </div>
    <form action="#" method="get" id="find_userid" class="form-floating">
        <div id="resendPS">
            <dt>이메일(Email)</dt>
            <dd><input type="email" id="email" placeholder="가입한 이메일" name="user_email" required></dd>
        </div>
        <dd>
            <button type="button" onclick="handleResetPasswordEmail()">비밀번호 초기화</button>
    </form>
</body>

</html>