<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/urls.js"></script>
    <script src="../static/js/iftoken.js"></script>
    <title>RESENDEMIAL | DateScape</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="title">
        <h2>회원가입 이메일 재전송</h2>
        <h4>가입하신 이메일로 인증링크를 다시 보내드리겠습니다.</h3>
            <h4>이메일을 입력해주세요.</h4>
            <h6 style="color:red;">*메일 전송은 5~10초 정도 소요됩니다. 간혹 gmail에서 스팸처리되는 경우가 있으니 스팸함을 확인해주세요.</h6>
    </div>
    <form action="#" method="get" id="find_userid" class="form-floating">
        <div id="findID">
            <dt>이메일(Email)</dt>
            <dd><input type="email" id="email" placeholder="가입한 이메일" name="user_email" required></dd>
        </div>
        <dd>
            <button type="button" onclick="handleEmailResend()">인증이메일 재전송</button>
    </form>
</body>

</html>